{% extends 'base/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'cart/css/cart.css' %}"/>
{% endblock link %}

{% block script %}
    <script type="text/javascript" src="{% static 'cart/js/cart.js' %}"></script>
{% endblock script %}

{% block main %}

    <div id="cart">

        <h3>购物车</h3>

        <div class="full">
            <section>

                <ul>
                    <li>收货人:</li>
                    <li>收货电话:</li>
                    <li>收货地址:</li>

                </ul>

                <div class="bill">
                    <p>闪送超市</p>
                    <a href="#">凑单专区</a>
                    <p>满100减99</p>
                </div>

                <p class="delivery">
                    <span>收货时间</span>
                    <span>6小时可送达</span>
                    <a href="#">可送达</a>
                </p>

                <p class="delivery">
                    <span>留言:</span>
                    <input type="text" placeholder="有什么特殊交代">
                </p>

                <menu>
                    <ul>
                        {% for cart in carts %}
                            <li class="menuList" cartid="{{ cart.id }}">
                                <div class="confirm">
                                <span class="is_choose" is_select="{{ cart.is_select }}">
                                    {% if cart.is_select %}
                                        <span>
                                             √
                                        </span>
                                    {% else %}
                                        <span></span>
                                    {% endif %}

                                </span>
                                </div>
                                <a href="#">
                                    <img src="{{ cart.goods.productimg }}" alt="{{ cart.goods.productlongname }}">
                                    <p>{{ cart.goods.productlongname }}</p>
                                </a>
                                <section>
                                    <button class="subShopping">-</button>
                                    <span>{{ cart.goods_num }}</span>
                                    <button class="addShopping">+</button>
                                </section>

                            </li>
                        {% endfor %}
                        <li class="payTheBill">
                            <div class="confirm">
                                <span class="all_select" is_all_select="{{ is_all_select }}">
                                    {% if is_all_select %}
                                        <span>
                                             √
                                        </span>
                                        {% else %}
                                        <span></span>
                                    {% endif %}

                                </span>
                            </div>
                            <p>
                                <span>全选</span>
                                <span>总价</span>
                            </p>
                            <div id="generate_order">下单</div>

                        </li>


                    </ul>
                </menu>

            </section>


        </div>


    </div>




{% endblock main %}